@import "./prism.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

a {
    text-decoration: none;
}

body {
    min-width: 100vw;
    min-height: 100vh;
}

.flex-basis-0 {
    flex-basis: 0;
    min-width: 0;
}

.flex-row-responsive {
    flex-direction: row;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

@media only screen and (max-width: 1000px) {
    .flex-row-responsive {
        flex-direction: column;
    }
}
